git+https://github.com/facebookresearch/pytorch3d.git@stable
r3m @ https://github.com/facebookresearch/r3m/archive/b2334e726887fa0206962d7984c69c5fb09cceab.tar.gz
# robosuite @ https://github.com/cheng-chi/robosuite/archive/277ab9588ad7a4f4b55cf75508b44aa67ec171f0.tar.gz
robosuite==1.4.1
robomimic==0.3.0
gym==0.21.0